.movie-card{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 350px;
    border-radius: 10px;
    padding: 5px;
    outline: 1px solid gray;
    justify-content: space-between;
    align-items: center;
}

.movie-card__title{
    margin: 0 0 10px;
    max-height: 24px;
    max-width: 300px;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
    color: white;
}

.movie-card__title:hover{
    color: rgb(149, 149, 149);
}

.movie-card__price{
    margin: 0;
}

.movie-card__image{
    max-width: 70%;
    max-height: 70%;
    cursor: pointer;
}

.movie-card__add-button{
    font-size: 18px;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(95, 78, 252);
    border: none;
    color: white;
    cursor: pointer;
}

.movie-card__add-button_type_delete{
    background-color: rgb(98, 98, 98);
}